html {
  height: 100%;
}

body {
  font: 14px "monospace", "Lucida Grande", sans-serif;
  margin: 0;
  background-color: rgb(249, 249, 249);
}

ol, ul {
  padding-left: 30px;
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0 auto;
  width: 900px;
  background-color: white;
  padding: 10px;
  min-height: calc(100vh - 270px);
}

.header {
  flex-grow: 1;
  padding: 30px;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #eae8f7;
  align-items: center;
  color: #695fa8;
  font-size: 30px;
  text-transform: uppercase;
}

.footer {
  flex-grow: 1;
  height: 50px;
  background-color: #eae8f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: grey;
}

.code-pub {
  font-size: 25px;
}

.name {
  font-size: 40px;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.info {
  position: absolute;
  top: 20px;
  right: 20px;
  text-transform: none;
  font-size: 15px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px;
}
